# DOCUMENT: link to keymap documentation
'.editor':
  'ctrl-up': 'line-jumper:move-up'
  'ctrl-down': 'line-jumper:move-down'

  'ctrl-shift-up': 'line-jumper:select-up'
  'ctrl-shift-down': 'line-jumper:select-down'
